body, html, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  --dark-primary-color: #0288d1;
  --light-primary-color: #b3e5fc;
  --primary-color: #03a9f4;
  --accent-color: #536dfe;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #bdbdbd;

  --title-font: "Greek-Freak", sans - serif;
}