.sideNavigationContainer {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100%;
    color: black;
    padding-top: 60px;
    z-index: 1;
    transition: 0.3s;
}

.sideNavigationContainer.openNavigation {
    left: 0;
}

.closeNavigation {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
}

.sideNavigation button {
    background-color: black;
    color: white;
    border: 0;
}